/* #region PADRÃO*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,900&display=swap");
body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: table;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #585757;
  font-weight: 400;
  line-height: 25px;
}

.wrapper {
  width: 1500px;
  display: table;
  text-align: justify;
  line-height: 30px;
  margin: 0 auto;
  padding: 3% 0;
}
fieldset {
  width: 100%;
  border: 1px solid #F94144;
  border-left: none;
  border-bottom: none;
  border-right: none;
}

legend {
  text-align: left;
  padding: 0 68px;
    font-size: 42px;
  font-weight: bold;
  color: #F94144;
  margin-left: -20px;
}

.topo .faixa{
  height: 88px;
  display: table;
  width: 100%;
  background-color: #F94144;
  color: white;
}
.posimenu{
  width: 100%;
  display: table;
}
.banner{
  width: 100%;
}
.imagem{
  width: 100%;
}
.bloco_l {
  width: 48%;
  float: left;
}

.bloco_r {
  width: 48%;
  float: right;
}
.center{
  width: 1300px;
  margin: 0 auto;
}

.titulo{
  font-size: 20px;
}
.bloco_info1{
  
  margin-right: 26px;
  color: #F94144;
  float: left;
  text-align: left;
  width: 23%;
  height: 235px;
  font-size: 40px;
  line-height: 47px;
}
.bloco_info2{
  display: table;
  padding: 55px 0px;
  margin-right: 26px;
  font-weight: 600;
  text-align: center;
  float: left;
  width: 23%;
  height: auto;
  color: white;
  background: #F94144;
  border-radius: 10px;
}


  .icone{
    width: 40%;
    margin: 0 auto;
    padding-bottom: 40px;
  }
#background{
  background-color: #BA3033 !important;
}
@media  screen and (max-width: 1550px) {
  .wrapper {
    width: 90%;
  }
  .center{
    width: 80%;
  }
  p{
    margin: 0;
  }
  .bloco_info2 {
    width: 22%;
  }

}
@media screen and (max-width: 1363px){
  .bloco_info1{
    height: auto;
    margin-bottom: 38px;
   margin-right: 0;
   margin-left: 0;
   width: 100%;
  }
  .bloco_info2{
    width: 30%;
  }
}
.info{
  color: #F94144;
}

@media  screen and (max-width: 1070px) {
   .bloco_l {
    width: 100%;
  }
  .bloco_r {
    width: 100%;
  }
  .bloco_info1{
    margin-left: 0;
    width: 100%;
    font-size: 39px;
  }
  .bloco_info2{
    margin-bottom: 20px;
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: white;
}

button {
  cursor: pointer;
  outline: none;
  font-size: 20px;
}
form {
  padding: 40px 0;
  margin: 0 auto;
  text-align: center;
}

::-webkit-input-placeholder {
  color: white;
  font-family: "Montserrat Regular", sans-serif;
  font-weight: 300;
  font-size: 17px;
}

:-moz-placeholder {
  color: white;
  font-family: "Montserrat Regular", sans-serif;
  font-weight: 300;
  font-size: 17px;
}

::-moz-placeholder {
  color: white;
  font-family: "Montserrat Regular", sans-serif;
  font-weight: 300;
  font-size: 17px;
}

:-ms-input-placeholder {
  color: white;
  font-family: "Montserrat Regular", sans-serif;
  font-weight: 300;
  font-size: 17px;
}

input[type="text"],
input[type="date"],
textarea {
  color: white;
  font-family: "Montserrat Regular", sans-serif;
  font-weight: 300;
  font-size: 17px;
}

.paginacao {
  width: 100%;
  display: table;
  margin-bottom: 30px;
}

.paginacao a {
  color: #4f0607;
}

.linhaimpar {
  background: #f2f2f2;
}

.linhapar {
  background: #ffff;
}

.linhabusca {
  background: #f2f2f2;
  padding: 1px 12px;
  margin: 0 0 5px 0;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* #endregion */

/* #region HOME*/

.navigation {
   float: right;
    display: flex;
   
}

.nav-buttons {
    display: flex;
    margin-left: auto;
}

.nav-user {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.nav-user a {
    font-size: 16px;
    margin: 0 24px;
    font-weight: 600;
}
.logo{
   
    width: 100%;
    padding-top: 10px; 
}
.txtlogo{
  font-size: 28px;
  color: white;
}

.login{
margin-top: -50px;
margin-right:20px;
width: 134px;
height: 53px;
background: white;
border-radius: 15px;
font-weight: bold;
font-size: 24px;
color: #F94144;
border:none;
}
/* Info */
.info {
  width: 100%;
  display: table;
}

.info p {
    margin-bottom: 16px;
    color: #2c2c2c7a;
}

.info-1 {
    transition-duration: 0.5s;
    padding: 32px;
    align-self: center;
    background-color: #d0d0d06b;
    margin: 100px 40px 0 40px;
    max-width: 200px;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    min-height: 100px;
    font-size: 18px;
}

.info-1:hover {
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.40), 
                0 7px 50px 0 rgba(0,0,0,0.25);
}

.info-2 {
    background-color: #d0d0d082;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    max-width: 240px;
    min-height: 100px;
    transition-duration: 0.5s;
    padding: 24px;
    max-height: 220px;
    margin: 0 40px;
    border-radius: 5px;
}

.info-2:hover {
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.40), 
                0 7px 50px 0 rgba(0,0,0,0.25);
}

.cadastro{
    text-align: center;
    border-radius: 20px;
    width: 70%;
    
    height: 80px;
   display: table;
}
 #borda1{
  border: 2px solid #F94144;
}
 #borda2{
  border: 2px solid #BA3033;
}


h1{
  width: 100%;
  line-height: 36px;
  text-align: center;
}
 .cadastro1 
{ 

height: 53px;
border-radius: 15px;
font-weight: bold;
font-size: 24px;
color: white;
border:none;  
  background-color: #F94144;
 
    width: 281px;
}
.cadastro2 
{   
height: 53px;
border-radius: 15px;
font-weight: bold;
font-size: 24px;
color: white;
border:none;  
background-color: #BA3033;
width: 281px;
}

.vinho{
  color: #BA3033;
  font-weight: 500;
}
/*#endregion*/